<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InvoiceAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InvoiceAssistant.Properties.Settings>
            <setting name="ProductColumnName" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelColumnName" serializeAs="String">
                <value />
            </setting>
            <setting name="UnitColumnName" serializeAs="String">
                <value />
            </setting>
            <setting name="PriceColumnName" serializeAs="String">
                <value />
            </setting>
            <setting name="AmountColumnName" serializeAs="String">
                <value />
            </setting>
            <setting name="CountColumnName" serializeAs="String">
                <value />
            </setting>
            <setting name="InvoicePayee" serializeAs="String">
                <value />
            </setting>
            <setting name="InvoiceReviewer" serializeAs="String">
                <value />
            </setting>
            <setting name="InvoiceVersion" serializeAs="String">
                <value>40.0</value>
            </setting>
            <setting name="InvoiceTaxRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InvoiceSummary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvoiceFullName" serializeAs="String">
                <value>False</value>
            </setting>
        </InvoiceAssistant.Properties.Settings>
    </userSettings>
</configuration>